/src/backend/.env
/src/frontend/.env
/src/.env
/backend/.env
/src/backend/cs390-clueless-outfit-8dcb7c531425.json

# ===============================================
# NODE.JS
# ===============================================
/node_modules/
/backend/node_modules/
